/* 
Seafoam #C4DFE6
Deep Aqua #003B46
Wave #66A5AD

Mist #90AFC5
Stone #336B87
Shadow #2A3132
*/

*{
    box-sizing: border-box;
    margin: 0;
    background-color: #C4DFE6;
    color: #90AFC5;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body{
    background-color: white;
    height: 100%;
}

h1{
    font-size: 1.25rem;
}

.header{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main{
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: auto;
}

.article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 2px #336B87;
    border-radius: 1rem;
    margin: 1rem;
    width: 20rem;
    height: 30rem;
}

.gif{
    width: 100%;
    border-radius: 1rem;
    margin: 1rem 0;
}

.schedule{
    width: 80%;
}

.list {
    overflow-x: auto;
    width: 100%;
}

.record{
    display: flex;
}

.info{
    width: 30%;
    font-weight: 600;
}

.button{
    padding: 0.25rem;
    border: 1px solid #336B87;
    border: 1rem;
    background-color: #003B46;
    color: white;
}