*{
    box-sizing: border-box;
    margin: 0;
}


html{
    height: 100vh;
}

body{
    background-color: white;
    height: 100%;
}

h1{
    font-size: 1.25rem;
}

.header{
    height: 30%;
    display: flex;
}

.main{
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    overflow-x: auto;
}

.article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 2px grey;
    border-radius: 1rem;
    margin: 1rem;
    width: 20rem;
    height: 30rem;
}

.button{
    margin: 1rem;
}

.gif{
    width: 100%;
    border-radius: 1rem;
    margin: 1rem 0;
}

.schedule {
    height: 80%;
    overflow-x: auto;
}